@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div class="card">
    <div class="card-title">
        @ViewBag.Title
    </div>
    <div class="card-text">
        @ViewBag.Content
    </div>
</div>